<h1>Professor Show Page</h1>

<p>Name: <%= @professor.name %></p>
<p>Age: <%= @professor.age %></p>
<p>Specialty: <%= @professor.specialty %></p>


<p>Students: </p>
<section id="professor-<%= @professor.id %>">
<% @professor.students.each do |student| %>
  <p><%= student.name %></p>
<% end %>
<p>average student age: <%= @professor.student_average_age %></p>
</section>