<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Hogwarts</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    See all: <%= link_to 'Professors', professors_path %> | <%= link_to 'Students', students_path %>
    <%= yield %>
  </body>
</html>
