<!DOCTYPE html>
<html>
  <head>
    <title>HogwartsAgain</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= link_to "Professor's Index", professors_index_path %>
    <%= link_to "Students's Index", students_index_path %>

    <%= yield %>
  </body>
</html>
